.auth-card {
    position: absolute;
    float: right;
    top: 30%;
    right: 7%;
    width: 25%;
    overflow: auto;
}

#bottom-text {
    cursor: pointer;
    color: #23395d;
    font-size: 11pt;
    margin-top: 15px;
    text-align: center;
}
