
.main-landing {
    width: 100%;
    position:absolute;
    right: 0;
    height: 91.5%;
    overflow: hidden;
    display: inline-block;
    background-image: url("https://www.business.com/images/content/5f3/ecbee7b4374a0678b4568/1500-0-");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
