
.profile-container {
    position: relative;
    display: flex;
}

.expense-list-span {
    position: relative;
    left: 25em;
    width: 25%;
    height: max-content;
}

.expense-expanded-span {
    position: relative;
    left: 25em;
    width: 25%;
    height: max-content;
}