.expense-list-wrapper {
    height: 47rem;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    overflow:scroll;
    margin: 10px 10px 10px 10px;
}

.expense-expand-container {
    position: relative;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 20px 10px;
    overflow:hidden;
    height:max-content;
    width: 80%;
    height: auto;
    top: 50%;
    // transform: translateY(50%);
}

.expense-title {
    position: absolute;
    top: 2px;
    font-weight: bolder;
    color: #23395d;
}

.expense-amount {
    position: absolute;
    right: 15px;
    color: darkgreen;
}

.expense-date {
    position: absolute;
    bottom: 2px;
    float:left;
}

.expense-img-container {
    width: 100%;
    cursor: pointer;
    overflow: auto;
    max-height: 150px;
}

.expense-img {
    width: 100%;
}

.expense-img-container.expanded {
    max-height: initial;
  }
