
.expense-list-wrapper {
    position: relative;
    height: 43rem;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    overflow:scroll;
    margin: 10px 10px 10px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wait-message {
    font-size: 1.2em;
    position: absolute;
    top: 20%;
    width: 80%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    align-items: center;
}
.wait-loader {
    display: inline-flex;
    align-self: center;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #23395d; 
    border-radius: 10em;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

.no-data-card {
    height: inherit;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.expense-filters-wrapper {
    position: relative;
    height: max-content;
    // width: max-content;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.expense-filter {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.expense-title-container {
    position: absolute;
    top: 0;
    left: 5px;
    display: inline;
    width:90%;
    height: max-content;
    max-height: 20px;
    padding: 5px 5px 5px 5px;
    font-size: 1.1em;
    
}

.expense-details-container {
    position: absolute;
    bottom:0;
    display: inline;
    width:96%;
    height:20px;
    padding: 5px 5px 5px 5px;
    left: 5px;
    font-size: 1.1em;
}
.expense-title {
    margin: unset;
    text-align: left;
    font-weight: bolder;
    color: #23395d;
    overflow: hidden;
}

.expense-amount {
    margin: unset;
    margin-right: 5px;
    margin-bottom: 10px;
    float: right;
    font-weight: bold;
    color: darkgreen;
}

.expense-date {
    margin: unset;
    float:left;
}

.expense-expand-container {
    position: relative;
    min-height: 25em;
    height: max-content;
    width: 100%;
    top: 50%;
    transform: translateY(20%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.expense-expand-inner-container {
    border-top: 2px solid #23395d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px #aaaaaa;
    position: relative;
    height: max-content;
    width: 99%;
    
}

.ee-title {
    float: left;
    margin:unset;
    padding: 5px 5px 5px 5px;
    text-align: left;
    max-width: 100%;
    width: 95%;
    height: max-content;
    color: black;
    border-radius: 0px 0px 0px 10px;
    font-size: 1.5em;
}

.ee-amount {
    float: right;
    background-color: #23395d;
    padding: 5px 10px 5px 10px;
    min-width: 5em;
    width: max-content;
    max-width: 30%;
    min-height: 2em;
    height: auto;
    color: white;
    border-radius: 0px 0px 0px 10px;
    font-size: 1.4em;
}

.ee-info {
    margin:unset;
    padding: 5px 5px 5px 0px;
    text-align: left;
    max-width: 100%;
    width: max-content;
    min-height: 30px;
    height: max-content;
    color: black;
    font-size: 1.1em;
    overflow: visible;
    margin: 10px 10px 10px 0px;
}

.expense-field {
    float: left;
    width: max-content;
    margin-right: 5px;
    padding: 2px 10px 2px 10px;
    border-radius: 0px 5em 5em 0px;
    background-color: #23395d;
    color: white;
    height: 25px;
}

.expense-value {
    display:flex;
    flex-wrap: wrap;
    padding: 2px 10px 2px 10px;
    margin-left: 5px;
    margin-right: 3px;
    overflow: visible;
    height: max-content;
}

.expense-form-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #23395d;
    outline: none;
    height: 20pt;
    font-size: 15px;
    font-weight: lighter;
    background: none;
}

#expense-title-textarea {
    height: 50px;
    width: 100%;
    float: left;
    padding: 5px 5px 5px 5px;
    text-align: left;
    max-width: 100%;
    color: black;
    font-size: 0.8em;
}

#expense-description-textarea {
    height: 50px;
    width: 15vw;
    border: 1px solid #23395d;
    float: left;
    padding: 5px 5px 5px 5px;
    text-align: left;
    max-width: 100%;
    color: black;
    font-size: 0.9em;
}

#expense-amount-input{
    border: none;
    color: white;
    appearance: none;
    font-size: 0.7em;
    letter-spacing: 0.2em;
}

#expense-file-input {
    height: 2.5vh;
    width: 80%;
}

.expense-form-submit {
    width:20%;
    height:2.5em;
    background-color:white;
    border: 2px solid #23395d;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:5px solid #23395d;
    font-family:Futura;
    font-size:0.8em;
    color:#000000;
    letter-spacing:1px;
    margin: 15px 15px 15px 15px;
}

.discard {
    color:#D03D56;
    border: 2px solid #D03D56;
    border-bottom:5px solid #D03D56;
}

.discard:hover {
    box-shadow: 0px 1px 10px #D03D56;
}

.expense-error-text {
    position: absolute;
    color: #D03D56;
    font-size: 1em;
    margin-top: 3px;
    text-align: right;
    padding-top: 5px;
    font-weight: bold;
}

.success-green {
    color: green;
}

.alert-orange {
    color: darkorange;
}

.filters-form {
    // align-items: left;
    // position: relative;
    display: flex;
    flex-direction: column;
}

.filter-single {
    position: relative;
    // top:0;
    height: max-content;
    overflow:visible;
    margin-top: 10px;
}

.filter-name {
    display: inline-flex;
    width: 100%;
    height: max-content;
}
.filter-form-content {
    font-family: 'Futura';
    border: 1px solid #23395d;
    outline: none;
    height: max-content;
    font-size: 0.9em;
    font-weight: lighter;
    background: none;
    margin: 5px;
}

.filters-submit-btn {
    display: inline-block;
    width:40%;
    height:2.5em;
    background-color:white;
    border: 2px solid #23395d;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:5px solid #23395d;
    font-family:Futura;
    font-size:0.8em;
    color:#000000;
    letter-spacing:1px;
    margin: 20px 5px 5px 5px;
    transition: 0.5s;
}

.green {
    border: 2px solid darkgreen;
    border-bottom: 5px solid darkgreen;
}

.filters-submit-btn:hover {
    background-color: #aaaaaa;
}


//  Pagination Styles
  
.pagination-container {
    width: 80%;
    margin: 1.5em auto;
    border-radius: 10px;
    padding-left: 0;
    list-style-type: none;
}

.pagination-list {
    padding: unset;
}

.page-list-item {
    display: inline;
    padding: 8px
}

.page-number-button {
    max-width:12%;
    height:2em;
    background-color:white;
    border: 2px solid #23395d;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:5px solid #23395d;
    font-family:Futura;
    font-size:1em;
    transition: 0.5s;
}

.page-number-button.active {
    transform: scale(1.3);

}