.expense-list-wrapper {
    height: 48rem;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    overflow:scroll;
    margin: 10px 10px 10px 10px;
}

.expense-title {
    position: absolute;
    top: 2px;
    font-weight: bolder;
    color: #23395d;
}

.expense-amount {
    position: absolute;
    right: 15px;
    color: darkgreen;
}

.expense-date {
    position: absolute;
    bottom: 2px;
    float:left;
}

.expense-expand-container {
    position: relative;
    min-height: 25em;
    height: max-content;
    width: 100%;
    top: 50%;
    transform: translateY(30%);
}

.expense-expand-inner-container {
    border-top: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px #aaaaaa;
    position: relative;
    height: 25em;
    width: 99%;
}

.ee-title {
    float: left;
    margin:unset;
    padding: 5px 5px 5px 5px;
    text-align: left;
    max-width: 100%;
    width: max-content;
    height: max-content;
    color: black;
    border-radius: 0px 0px 0px 10px;
    font-size: 1.5em;
}

.ee-amount {
    float: right;
    background-color: #23395d;
    margin:unset;
    padding: 5px 5px 5px 5px;
    min-width: 5em;
    width: max-content;
    height: 2em;
    color: white;
    border-radius: 0px 0px 0px 10px;
    font-size: 1.5em;
}

.ee-info {
    margin:unset;
    padding: 5px 5px 5px 0px;
    text-align: left;
    max-width: 100%;
    width: max-content;
    height: fit-content;
    color: black;
    font-size: 1em;
    overflow: hidden;
    margin: 10px 10px 10px 0px;
}

.expense-field {
    float: left;
    width: max-content;
    margin-right: 5px;
    padding: 2px 10px 2px 10px;
    border-radius: 0px 5em 5em 0px;
    background-color: #23395d;
    color: white;
}

.expense-value {
    display: flex;
    padding: 2px 10px 2px 10px;
    margin-left: 5px;
    margin-right: 3px;
    overflow: hidden;
}
