
nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23395d;
    font-family: Merriweather Sans, sans-serif;
    color: white;
    height: 5em;
}

.brand-name a{
    letter-spacing: 15px;
    font-size: 40px;
    font-weight:bold;
    color: white;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.nav-list p {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    padding: 10px 10px 10px 10px;
    transition: color .5s;
}

.nav-list p:hover {
    color: #999999;
}


.dropdown {
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-content {
    display: block;
    position:absolute;
    right:0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    float: left;
  }

.dropdown-content a {
    font-size: 0.8em;
    letter-spacing: 0.2ch;
    float:none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
