
.intro-text {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 60%;
    float: left;
    color:black;
    font-stretch: expanded;
    text-shadow: 1px 1px #201e1e;
    font-style:normal;
    font-size: 40px;
    font-family:'Menlo';
    padding: 20px 5px 5px 5px;
    background: rgba(238, 238, 238, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
}

.sub-intro-text {
    font-size: 25px;
}