
.intro-text {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 60%;
    float: left;
    color:black;
    font-stretch: expanded;
    text-shadow: 1px 1px #201e1e;
    font-style:normal;
    font-size: 40px;
    font-family:'Menlo';
}

.sub-intro-text {
    font-size: 25px;
}